# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.opendb
.vs/PSU-ALPHA/v16/.suo
*.ilk
Psu-Alpha Documentation.docx
*.tlog
*.idb
*.pdb
PSU-ALPHA/Debug/PSU-ALPHA.log
Config/data_aminoinfo.xlsx
