# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.opendb
.vs/PSU-ALPHA/v16/.suo
*.ilk
Psu-Alpha Documentation.docx
*.tlog
*.idb
*.pdb
PSU-ALPHA/Debug/PSU-ALPHA.log
Config/data_aminoinfo.xlsx
PSU-ALPHA/Debug/PSU-ALPHA.Build.CppClean.log
PSU-ALPHA/Debug/PSU-ALPHA.vcxproj.FileListAbsolute.txt
~$u-Alpha Documentation.docx
RScriptsForPSU/SomeResults/6J4A_RamachandranPlus3DChi.docx
RScriptsForPSU/SomeResults/6J4A_CAlphaContactPlusSingleChain.docx
RScriptsForPSU/SomeResults/1DFJ_CAlphaPPIContact.docx
RScriptsForPSU/SomeResults/1DFJ_CAlphaPPIContact.docx
RScriptsForPSU/SomeResults/1DFJ_CAlphaPPIContact.docx
RScriptsForPSU/SomeResults/1DFJ_CAlphaPPIContact.docx
PSU-Alpha Dev Plans.docx
~$U-Alpha Dev Plans.docx
~WRL3975.tmp
RScriptsForPSU/SomeResults/6SCJ_Rama_Contact.docx
~WRL2945.tmp
TestResults/RMSD/StructBioPract2.docx
PSU-ALPHA/Release/PSU-ALPHA.Build.CppClean.log
Release/PSU-ALPHA.iobj
Release/PSU-ALPHA.ipdb
TestResults/RMSD/BTL Least Squares.docx
PSU-ALPHA/Debug/leastsquares.obj.enc
Config/PDB/sml1
Config/TrimDatabaseLiat.xlsx
*.iobj
*.ipdb
Project/PDBData/~$HighResPDBs.xlsx
MSC-AnnotateHighResList/Release/MSC-AnnotateHighResList.log
MSC-AnnotateHighResList/Release/MSC-AnnotateHighResList.log
MSC-AnnotateHighResList/Release/MSC-AnnotateHighResList.log
.vs/PSU-ALPHA/v16/Solution.VC.db-shm
PSU-ALPHA/Release/PSU-ALPHA.log
MSC-AnnotateHighResList/logger.txt
MSC-AnnotateHighResList/Debug/MSC-AnnotateHighResList.log
MSC-AnnotateHighResList/Release/MSC-AnnotateHighResList.log
MSC-AnnotateHighResList/logger.txt
MSC-AnnotateHighResList/Debug/MSC-AnnotateHighResList.log
MSC-AnnotateHighResList/logger.txt
MSC-AnnotateHighResList/Release/MSC-AnnotateHighResList.log
MSC-AnnotateHighResList/logger.txt
Project/MyDocs/InformationLoss.xlsx
MSC-CreatePDBGeometry/Release/MSC-CreatePDBGeometry.log
MSC-GeometryAggregator/Release/MSC-GeometryAggregator.log
PSU-ALPHA/Release/PSU-ALPHA.log
MSC-CreatePDBGeometry/Release/MSC-CreatePDBGeometry.log
MSC-GeometryAggregator/Release/MSC-GeometryAggregator.log
MSC-AnnotateHighResList/logger.txt
MSC-AnnotateHighResList/logger.txt
MSC-AnnotateHighResList/xlogger.txt
MSC-CreatePDBGeometry/logger.txt
